/* index.css ou global.css */

/* Assurez-vous que Tailwind est importé ici */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this CSS in your main stylesheet */
.mapboxgl-ctrl {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  transition: transform 0.2s;
}

.mapboxgl-ctrl:hover {
  transform: scale(1.05);
}
